* {
  margin: 0px;
  padding: 0px;
}

html {
  background: linear-gradient(-270deg, white, #ECDBBA);
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}

/* Barra de rolagem */
::-webkit-scrollbar {
  background-color: #1F1D36;
  border: 3px solid #1F1D36;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid;
  border-radius: 10px;
  border-color: #1F1D36;
  background-color: #ECDBBA;
}

/* Barra de Navegação */
header a {
  color: #ECDBBA;
  text-decoration: none;
  transition: 0.8s;
}

header a:hover {
  opacity: 0.7;
  color: white;
  text-shadow: 1px 1px 7px white;
}

.logo {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 4px;
  flex-grow: 1; /* Faz a logo ocupar o espaço disponível */
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #1F1D36;
  height: 10vh;
  width: 100vw;
  padding: 0 20px; /* Adicionado para melhor espaçamento */
}

.nav-lista {
  list-style: none;
  display: flex;
  flex-grow: 1; /* Faz a lista de navegação ocupar o espaço disponível */
  justify-content: center; /* Centraliza os itens da lista */
}

.nav-lista li {
  letter-spacing: 3px;
  margin-left: 32px;
  transition: 0.3s;
  border: 1px solid #1F1D36;
  border-radius: 3px;
  padding: 3px 6px;
}

.nav-lista li:hover {
  transform: scale(1.2);
  border-color: #1F1D36;
  box-shadow: 0px 0px 7px #1F1D36;
}

#btn {
  display: none;
}

.login-button {
    background: none;
    border: none;
    font-size: 20px;
}

/* Estilos de Login/Cadastro */
/* Estilos de Login/Cadastro */
.login-container {
  display: flex;
  justify-content: center;
 
  margin-top: 150px; /* Adiciona espaçamento para empurrar o formulário mais para baixo */
}

.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1F1D36;
  padding: 20px;
  border-radius: 5px;
  color: white;
  position: absolute;
  width: 400px;
  height: 400px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login label {
  size: 40px;
  padding: 2px 4px;
  margin-bottom: 5px;
  font-size: 30px;
  font-family:system-ui, -apple-system, Helvetica, Arial, sans-serif ;
}

.login input {
  margin-bottom: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 3px;
  border: none;
}

.login button {
  margin-top: 10px;
  padding: 8px;
  background-color: #6C63FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login button:hover {
  background-color: #4E47B2;
}

.cadastro-section {
  display: flex; /* Usando Flexbox para controlar a posição do formulário */
  justify-content: flex-start; /* Alinha o conteúdo à esquerda */
  padding: 20px; /* Espaço interno ao redor do contêiner */
}
.cadastro-section h2 {
  font-size: 2.5em; /* Aumenta o tamanho da fonte do título */
  color: #1F1D36; /* Cor do título, se desejar */
  margin-bottom: 20px; /* Espaço abaixo do título */
  text-align: left; /* Alinha o texto à esquerda, se necessário */
}

.form-cadastro {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-color: #1F1D36;
  color: #ECDBBA;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 40vw; /* Ajuste a largura conforme necessário */
  margin: 0; /* Remove a margem para centralizar corretamente dentro do contêiner */
}

.form-cadastro input {
  width: 95%; /* Faz com que os inputs ocupem toda a largura do formulário */
  padding: 12px; /* Aumenta o preenchimento dos inputs */
  margin: 10px 0; /* Adiciona espaçamento vertical entre os inputs */
  border-radius: 5px;
  border: 2px solid #ECDBBA; /* Borda dos inputs */
  font-size: 1.2em; /* Aumenta o tamanho da fonte dos inputs */
}

.form-cadastro label {
  font-size: 1.3em; /* Tamanho da fonte dos rótulos */
  margin-top: 10px; /* Espaço acima dos rótulos */
}

.form-cadastro button {
  padding: 12px; /* Aumenta o preenchimento do botão */
  margin-top: 10px; /* Espaço acima do botão */
  background-color: #ECDBBa; /* Cor de fundo do botão */
  color: #1F1D36; /* Cor do texto do botão */
  border: none; /* Remove bordas do botão */
  border-radius: 5px; /* Arredonda os cantos do botão */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  font-size: 1.2em; /* Aumenta o tamanho da fonte do botão */
}

.form-cadastro button:hover {
  background-color: #D0B493; /* Muda a cor ao passar o mouse */
}


/* Banner Carrosel */
.content {
  height: 80vh;
  width: 90vw;
  border-radius: 10px;
  overflow: hidden;
  margin: 1% auto;
  box-shadow: 0px 5px 30px black;
}

.slide input {
  display: none;
}

.navegação {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.barra {
  color: white;
  width: 6vw;
  height: 3.5vh;
  border: 2px solid white;
  margin: 0.4vw;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.barra:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.slide {
  display: flex;
  width: 500%;
  height: 100%;
}

.foto {
  width: 20%;
  transition: 0.6s;
}

.foto img {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -20%;
}

#slide3:checked ~ .s1 {
  margin-left: -40%;
}

#slide4:checked ~ .s1 {
  margin-left: -60%;
}

#slide5:checked ~ .s1 {
  margin-left: -80%;
}

/* Sobre a Lojinha */
.topo {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.titulo a {
  color: #1F1D36;
  margin-top: 27px;
  font-size: 3vw;
  border: 3px solid #1F1D36;
  border-radius: 5px;
  padding: 4px 10px;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
}

#texto-base {
  width: 80vw;
  margin: 0 auto;
}

#texto-base p {
  margin: 4vh 0;
  font-size: 1.3vw;
}

#texto-base strong {
  font-weight: bold;
}

#texto-base em {
  font-style: italic;
}

.Mapa {
  height: 80vh;
  width: 90vw;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

/* Cards */
.card {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  margin-top: 5vh;
}

.inicio {
  width: 80vw;
  margin: 0 auto;
}

.forma {
  height: 60vh;
  width: 80vw;
  background: transparent;
  display: flex;
  align-items: center;
  margin: 3vh auto;
  justify-content: space-between;
}

.borda {
  height: 48vh;
  width: 22vw;
  background: transparent;
  border-radius: 10px;
  transition: border 0.5s;
  position: relative;
}

.base-card {
  height: 50vh;
  width: 24vw;
  background: #1F1D36;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card0 {
  background: url(tn0.webp) center center no-repeat;
  background-size: 30vw 50vh;
  transition: background 0.3s;
}

.card0:hover {
  background: url(tn1.webp) center center no-repeat;
  background-size: 30vw 50vh;
}

.card1 {
  background: url(tn3.webp) center center no-repeat;
  background-size: 30vw 50vh;
  transition: background 0.3s;
}

.card1:hover {
  background: url(tn4.webp) center center no-repeat;
  background-size: 30vw 50vh;
}

.card2 {
  background: url(tn5.webp) center center no-repeat;
  background-size: 30vw 50vh;
  transition: background 0.3s;
}

.card2:hover {
  background: url(tn6.webp) center center no-repeat;
  background-size: 30vw 50vh;
}

.card3 {
  background: url(tn8.jpg) center center no-repeat;
  background-size: 30vw 50vh;
  transition: background 0.3s;
}

.card3:hover {
  background: url(tn7.webp) center center no-repeat;
  background-size: 30vw 50vh;
}

.card4 {
  background: url(tn9.webp) center center no-repeat;
  background-size: 30vw 50vh;
  transition: background 0.3s;
}

.card4:hover {
  background: url(tn10.webp) center center no-repeat;
  background-size: 30vw 50vh;
}

.card5 {
  background: url(tn11.jpg) center center no-repeat;
  background-size: 30vw 50vh;
  transition: background 0.3s;
}

.card5:hover {
  background: url(tn12.jpg) center center no-repeat;
  background-size: 30vw 50vh;
}



.borda h2{
  font-size: 1.7em;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.5s;
}

.borda:hover h2{
  opacity: 1;
}

.texto-card{
  font-size: 1.2em;
  margin-left: 5px;
  margin-top: 30vh;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items:space-around;
  justify-content:flex-end;
}

/*Aba Contatos*/

.formulario {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

fieldset{
  height: 80vh ;
  width: 80vw;
  background: transparent;
  display: flex;
  align-items: flex-start;
  margin: 3vh auto 1vh auto;
  justify-content:space-between;
  flex-direction: column;
  border: none;
}

fieldset label{
  font-size: 1.9vw; 
}

.label1:before{
  content: "➞";
}

.input-padrão{
  margin: 1.5vh auto 3vh 2vw;
  padding: 10px 25px;
  width: 50%;
  cursor: text;
}

.legenda{
  font-size: 1.9vw; 
  font-weight: bold;
  margin-bottom: 5vh;
  margin-top: 3vh;
}

.pergunta{
  height: 40vh ;
  margin: 0 auto;
}

.input-demais{
  cursor: pointer;
}

.caixa1{
  height: 55vh;
}

#momento{
  height: 7vh;
  width: 10vw;
  border: 2px solid #1F1D36;
  border-radius: 5px;
  color: #1F1D36;
  background:linear-gradient(-270deg,white, #ECDBBA);
  text-align: center;
  font-size: 1.5vw;
}

.enviar{
  position: relative;
  width: 40%;
  padding: 20px 0 ;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #1F1D36;
  border-radius: 20px 40px;
  color: #1F1D36;
  background:linear-gradient(-270deg,white, #ECDBBA);
  transition: 0.3s ;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 10vh;
  margin-top: 3vh;
  outline: none;
}

.enviar:hover{
  box-shadow: inset 27vw 0 0 0 #1F1D36;
  color: #ECDBBA;
  transform: scale(1.1);
}

/*Footer*/

.footer{
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #1F1D36;
  text-align: center;
  color: #ECDBBA;
  height: 8vh;
  font-size: 1.5vw;
}

/* designer com um tamanho menor: media query*/

@media(max-width: 800px) {

  .nav-lista{
    display: block;
    position: absolute;
    width: 0vw;
    height:100%;
    top:10vh;
    right:0;
    background: #1F1D36;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    font-size: 30px;
    transition: .8s;
    z-index: 1000;
    visibility: hidden;
    overflow-x: hidden;
    opacity: 0.1;
  }

  .nav-lista li{
    margin: auto;
    
  }
  
  #nav.active .nav-lista{
    display: flex;
    width: 50vw;
    height:100%;
    visibility: visible;
    overflow-x: auto;
    overflow-y: auto;
    opacity: 1;
  }

  #nav.active .logo{
    transform: scale(1.2);
  }

  #btn{
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #hbgr{
    display: block;
    color:  #ECDBBA;;
    border-top: 2px solid;
    width: 25px;
  }

  #hbgr::after, #hbgr::before{
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: currentColor;
    margin: 5px;
    transition: .8s;
    position: relative;
  }

   #nav.active #hbgr{
     border-top-color: transparent;
   }
  
   #nav.active #hbgr::before{
     transform: rotate(45deg);
   }
  
   #nav.active #hbgr::after{
     transform: rotate(-45deg);
     top: -7px;
   }

  .content{
    border-radius:20px;
    height: 50vh;
    margin-top: 3vh;
  }

  .navegação{
    bottom: 37.5vh;
  }

  .titulo a{
    font-size: 10vw
  }
  
  #texto-base p{
    font-size: 4.5vw;
  }

  #texto-base strong{
    font-size: 5vw;
  }

  .forma{
    height: 215vh;
    flex-flow: space-between;
    flex-wrap: wrap;
    justify-content: center;
  }

  .borda{
    width: 68vw;
    height: 58vh;
  }

  .base-card{
    display: flex;
    height: 60vh;
    width: 70vw;
    background-size: 70vw 60vh;
    transition: background 0.3s
  }

  .base-card:hover{
    background-size: 70vw 60vh;
  }
  
  .texto-card{
    font-size: 1.7em;
    margin-left: 7px;
    margin-top: 40vh;
  }

  fieldset label{
  font-size: 6.5vw; 
}

  .input-padrão{
    width: 80%;
  }

  .caixa1{
   height: 60vh; 
  }
  
  .legenda{
    font-size: 6vw;
  }

  #momento{
    width: 50vw;
    height: 10vh;
    font-size: 3.5vh;
    margin-bottom: 2vh;
  }

  .enviar{
    width: 100%;
    height: 10vh;
  }

  .enviar:hover{
    box-shadow: inset 62vw 0 0 0 #1F1D36;
  }



.logo {
  font-size: 24px;
  text-decoration: none;
  color: #ECDBBA;
}

.nav-lista {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-lista li {
  display: inline;
}

h2 {
  color: #1F1D36;
}

.cart-item-container {
  margin-bottom: 20px;
}

.cart-item-container div {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.total-price {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.payment-methods {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.payment-info {
  margin-top: 10px;
}

.payment-info label {
  display: block;
  margin-bottom: 5px;
}

.payment-info input, .payment-info select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #1F1D36;
  color: #ECDBBA;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ECDBBA;
  color: #1F1D36;
}








/* Estilos para o formulário de contato */
.contact-form {
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #000; /* Borda preta fina */
  border-radius: 5px;
  background: linear-gradient(to right, #ffffff, #e0f7fa); /* Degradê de branco para verde claro */
  max-width: 600px;
  margin: 0 auto; /* Centraliza o formulário na página */
}
.contact-form h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center; /* Centraliza o título do formulário */
}
.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: calc(100% - 22px); /* Ajusta a largura para considerar o padding e border */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.contact-form textarea {
  resize: vertical; /* Permite redimensionar verticalmente */
}
.contact-message {
  margin-top: 10px;
  text-align: center; /* Centraliza a mensagem de sucesso */
}



/* PARTE DO BANNER */

/* Ajustes para o Banner */
.banner-container {
  width: 100%; /* Define a largura como 100% do contêiner pai */
  height: 300px; /* Mantém a altura */
  overflow: hidden;
  position: relative; /* Necessário para posicionar os botões de navegação */
  border: none;
}

.banner-images {
  display: flex; /* Alinha as imagens lado a lado */
  transition: transform 0.5s ease-in-out;
}

.banner-image {
  flex-shrink: 0; /* Evita que as imagens encolham */
  width: 100%; /* Define a largura como 100% do contêiner pai */
  height: auto; /* Mantém a proporção da imagem */
  max-height: 300px; /* Limita a altura máxima */
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

#prevButton {
  left: 10px;
}

#nextButton {
  right: 10px;
}

  .footer{
    font-size: 3vh;
  }
} 


  